In [163]:
import json
import requests
import pandas as pd
from pandas.io.json import json_normalize 
import plotly.express as px
# input_file = open('/opendota api constants/heroes.json')
# hero_id = json.load(input_file)
# input_file.close()
# print('hero_id')
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)

### Loading Data 

Import json files and convert to dataframe

** better to use json.load or pandas.read_json?

In [164]:
### cleaning league x data 
#matches/league_id_10749_ti9_matchdata.json
#matches/league_id_10979_starladder_s2_matchdata.json
#matches/league_id_10826_epicenter_2019_matchdata.json
#matches/league_id_11280_chengdu_matchdata.json
#matches/league_id_11371_summit_11_matchdata.json

input_file = open('matches/league_id_10979_starladder_s2_matchdata.json') 
data = json.load(input_file)
input_file.close()

In [165]:
big_df = json_normalize(data)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning:

pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

### Create Dataframe for match results

This will cover general id columns and basic match results such as match id, league id, dire/radiant teams, and if radiant won

Method 1: since data is saved as json, use pd.read_json

In [166]:
#data2 = pd.read_json('matches/league_id_10749_ti9_matchdata.json')
#data2.head(1)

In [167]:
match_df = big_df[['match_id','duration', 'leagueid','match_seq_num','series_id', 'series_type', 'patch', 'dire_team_id', 'radiant_team_id', 'radiant_win' ]]
match_df.shape
#match_df.isnull

(153, 10)

In [168]:
#match_df.index('match_id')

In [169]:
#match_df.head()

In [170]:
#match_df.sort_values(by='match_id', ascending=True)

## Method 2: load json file and normalize using pandas.json_normalize.

** Dunno if there is any significant advantage to doing it one way or the other.

In [171]:
#json_struct = json.loads(data.to_json(orient="records"))    
#df_flat = pd.io.json.json_normalize(json_struct) #use pd.io.json

In [172]:
picks_df = json_normalize(data, 'picks_bans', max_level=0)
#picks_df.head(100)
#picks_df.shape

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning:

pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

In [173]:
df = picks_df[['match_id', 'order', 'is_pick', 'team', 'hero_id']]

In [174]:
df = df.astype(str)
df = df.groupby('match_id')['is_pick','team','hero_id'].agg(' '.join)
#df.head(100)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning:

Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

In [175]:
#new = df['order'].str.split(' ', expand=True)
new1 = df['is_pick'].str.split(' ', expand=True)
new2 = df['team'].str.split(' ', expand=True)
new3 = df['hero_id'].str.split(' ', expand=True)
#new1, new2, new3

In [176]:
#nameless_df= new1.join(new2).join(new3)

In [177]:
# Get column labels for the columns 
total_picks = 21 # recall range is 0-21 = 22 picks
new1.columns = ['1is_pick', '2is_pick', '3is_pick', '4is_pick', '5is_pick', '6is_pick', '7is_pick','8is_pick','9is_pick','10is_pick','11is_pick','12is_pick','13is_pick','14is_pick','15is_pick','16is_pick','17is_pick','18is_pick','19is_pick','20is_pick','21is_pick', '22is_pick']
new2.columns = ['1team', '2team', '3team', '4team', '5team', '6team', '7team', '8team', '9team', '10team', '11team', '12team', '13team', '14team', '15team', '16team', '17team', '18team', '19team', '20team', '21team', '22team']
new3.columns = ['1hero_id', '2hero_id', '3hero_id', '4hero_id', '5hero_id', '6hero_id', '7hero_id', '8hero_id', '9hero_id', '10hero_id', '11hero_id', '12hero_id', '13hero_id', '14hero_id', '15hero_id', '16hero_id', '17hero_id', '18hero_id', '19hero_id', '20hero_id', '21hero_id',
               '22hero_id']

In [178]:
data = new1.join(new2).join(new3)
#picks_df = new1.join(new2).join(new3)
#picks_df.dtypes
#picks_df.head(100)
#data.shape

Quick eyeball inspection to check if the draft information is preserved:


Comparing match_id = 4888646940, we can see from above that the first pick (order=0) information was: 
- first pick (1ban): '4888646940	0	False	1	66'; w/c lines up with 1is_pick, 1hero_id, etc...
- last pick: 9106	4888646940	21	True	0	67; w/c lines up with 22is_pick, 22hero_id, etc...

So, at least by a quick visual inspection, seems like the drafting data has been successfully cleaned.

### Replacing T/F values

Convert T/F to boolean

In [179]:
# source: https://github.com/codexponent/dota2-draft-analysis/blob/master/draft-ml.ipynb
# # # Converting boolean value into number
#boolean_values = 22
#for i in range(boolean_values):
#    pick_id = '{}is_pick'.format(i+1)
#    data[pick_id] = data[pick_id].apply(lambda x: 1 if x else 0)

Re-organize columns according to prefix order:
- pretty sure there's a better way to do this

In [162]:
picks_df = data[['1is_pick', '1team', '1hero_id',
               '2is_pick', '2team', '2hero_id', 
               '3is_pick', '3team', '3hero_id', 
               '4is_pick', '4team', '4hero_id', 
               '5is_pick', '5team', '5hero_id', 
               '6is_pick', '6team', '6hero_id', 
               '7is_pick', '7team', '7hero_id', 
               '8is_pick', '8team', '8hero_id', 
               '9is_pick', '9team', '9hero_id', 
               '10is_pick', '10team', '10hero_id', 
               '11is_pick', '11team', '11hero_id', 
               '12is_pick', '12team', '12hero_id',
               '13is_pick', '13team', '13hero_id', 
               '14is_pick', '14team', '14hero_id', 
               '15is_pick', '15team', '15hero_id', 
               '16is_pick', '16team', '16hero_id', 
               '17is_pick', '17team', '17hero_id',
               '18is_pick', '18team', '18hero_id', 
               '19is_pick', '19team', '19hero_id',
               '20is_pick', '20team', '20hero_id',
               '21is_pick', '21team', '21hero_id', 
                '22is_pick', '22team', '22hero_id']]

In [189]:
picks.shape

(151, 66)

In [109]:
picks = picks_df
matchhistory = match_df

In [141]:
picks.to_csv('data/ti9_picks_cleaned.csv')
#matchhistory.to_csv('data/summit11_matchhistory.csv')

In [188]:
picks.index

KeyError: 'match_id'

In [186]:
matchhistory

,match_id,duration,leagueid,match_seq_num,series_id,series_type,patch,dire_team_id,radiant_team_id,radiant_win
0,4833593109,4036,10979,4062972494,337111,1,41,7118032,111474,True
1,4774328947,3221,10979,4023489932,331091,1,40,7118032,6363102,False
2,4779407768,2568,10979,4026694023,331560,1,40,7019882,111474,True
3,4833371463,2976,10979,4062797533,337111,1,41,111474,7118032,True
4,4833120790,2700,10979,4062637540,337111,1,41,111474,7118032,False
5,4835973421,3504,10979,4064617551,337330,1,41,6214973,7059982,False
6,4835092211,2530,10979,4063983045,337299,1,41,7137328,7118032,True
7,4778183525,2956,10979,4025875326,331453,1,40,7137328,5055770,True
8,4835349235,2983,10979,4064165158,337299,1,41,7137328,7118032,False
9,4780631882,2250,10979,4027495162,331700,1,40,5327206,7137328,False
10,4844403184,3606,10979,4070576815,338176,2,41,111474,6214973,False
11,4777644210,3135,10979,4025512104,331364,1,40,6214973,7019882,False
12,4838510531,3234,10979,4066415388,337601,1,41,7137328,4,True
13,4779969700,3864,10979,4027088178,331595,1,40,111474,6214973,True
14,4771665949,2509,10979,4021626854,330878,1,40,7118032,5528463,False
15,4836456903,2959,10979,4064924831,337366,1,41,543897,3,False
16,4778133263,2514,10979,4025829896,331442,1,40,5327206,7119077,False
17,4832621485,2404,10979,4062295592,337088,1,41,4,7137328,True
18,4840125375,3264,10979,4067539200,337770,1,41,111474,7059982,False
19,4770716099,3359,10979,4021025590,330809,1,40,7099096,6209166,False
20,4772808294,2103,10979,4022404329,330996,1,40,6288801,3,True
21,4777955500,3013,10979,4025719418,331412,1,40,6214973,7019882,False
22,4770891142,2949,10979,4021147353,330831,1,40,7099096,2626685,True
23,4780832794,1739,10979,4027632081,331700,1,40,5327206,7137328,True
24,4776720866,2277,10979,4024950338,331316,1,40,7034741,7019882,True
25,4770490885,2236,10979,4020833573,330796,1,40,6209166,2626685,False
26,4770343012,2870,10979,4020749897,330796,1,40,6209166,2626685,True
27,4776877273,2097,10979,4025064590,331316,1,40,7034741,7019882,True
28,4779424867,3146,10979,4026722044,331559,1,40,5059375,6214973,True
29,4772058786,3370,10979,4021897910,330905,1,40,6979938,6363102,True
30,4771280724,2354,10979,4021384730,330851,1,40,5528463,46,False
31,4780765718,1860,10979,4027588975,331700,1,40,5327206,7137328,True
32,4837606570,3441,10979,4065791023,337520,1,41,543897,6214973,True
33,4835583515,2191,10979,4064331442,337330,1,41,7059982,6214973,False
34,4780410250,2563,10979,4027324077,331641,1,40,5059375,111474,True
35,4770332364,2588,10979,4020733212,330795,1,40,1375614,7059982,True
36,4839981142,2726,10979,4067413081,337770,1,41,111474,7059982,True
37,4780885465,1889,10979,4027685540,331736,1,40,5055770,7137328,True
38,4773301734,2244,10979,4022760393,331040,1,40,2626685,7099096,True
39,4773737803,1918,10979,4023056004,331054,1,40,2626685,7059982,True
40,4775926156,2752,10979,4024490262,331274,1,40,7098928,7119284,True
41,4772058478,1942,10979,4021862855,330908,1,40,46,7118032,True
42,4840900564,2272,10979,4068065670,337862,1,41,111474,6214973,True
43,4841677189,2041,10979,4068587816,337932,1,41,7059982,7137328,False
44,4841117691,2357,10979,4068213283,337862,1,41,111474,6214973,False
45,4843909697,2653,10979,4070214423,338176,2,41,111474,6214973,False
46,4771394877,2366,10979,4021446093,330863,0,40,6209166,7099096,True
47,4843550889,2307,10979,4069954027,338141,1,41,6214973,7059982,False
48,4777239411,1669,10979,4025243762,331351,1,40,3214090,111474,True
49,4777653282,1977,10979,4025467443,331366,1,40,5059375,111474,True
50,4775444706,2042,10979,4024163665,331238,1,40,6288801,3,True
51,4777777201,2572,10979,4025584918,331380,1,40,5059375,3214090,False
52,4774849251,2209,10979,4023765554,331131,1,40,36,7118032,True
53,4836366115,1869,10979,4064834441,337366,1,41,543897,3,False
54,4836235481,1984,10979,4064756349,337366,1,41,543897,3,True
55,4775498815,2513,10979,4024205933,331238,1,40,3,6288801,False
56,4844103057,1906,10979,4070345485,338176,2,41,111474,6214973,True
57,4841320882,2328,10979,4068367708,337862,1,41,6214973,111474,True
58,4775358814,1980,10979,4024106454,331214,1,40,7079109,6288801,True
59,4773108946,1675,10979,4022619359,331027,1,40,2626685,7059982,True
60,4775085828,2192,10979,4023922771,331131,1,40,36,7118032,True
61,4778380143,2024,10979,4025984867,331475,1,40,5327206,5055770,True
62,4834063398,2511,10979,4063251261,337161,1,41,4,111474,True
63,4841541944,2082,10979,4068498796,337932,1,41,7059982,7137328,False
64,4772596569,2105,10979,4022242325,330980,1,40,7079109,6288801,True
65,4837947429,2234,10979,4066005383,337539,1,41,7059982,3,False
66,4771282604,1897,10979,4021345503,330852,1,40,6979938,36,True
67,4772197395,1942,10979,4021946478,330908,1,40,7118032,46,True
68,4779738339,2780,10979,4026897981,331596,1,40,5059375,7019882,False
69,4779285133,2109,10979,4026615272,331559,1,40,6214973,5059375,False
70,4840339077,1921,10979,4067641090,337770,1,41,111474,7059982,False
71,4770892360,2418,10979,4021124528,330828,1,40,4,7059982,False
72,4774456377,1667,10979,4023510082,331090,1,40,46,36,True
73,4777822014,2205,10979,4025609970,331364,1,40,6214973,7019882,True
74,4835803139,2015,10979,4064450826,337330,1,41,6214973,7059982,False
75,4776206431,2165,10979,4024647177,331289,1,40,3785359,7098928,True
76,4778326749,1524,10979,4025941185,331453,1,40,7137328,5055770,True
77,4844267214,2079,10979,4070452967,338176,2,41,6214973,111474,False
78,4778428352,2476,10979,4026030365,331478,1,40,7119077,7137328,True
79,4773877454,1871,10979,4023152895,331054,1,40,7059982,2626685,False
80,4833860999,2197,10979,4063097949,337161,1,41,111474,4,False
81,4779043274,2354,10979,4026451033,331542,1,40,7119284,543897,True
82,4838731935,1936,10979,4066507576,337601,1,41,4,7137328,True
83,4838331955,1510,10979,4066241464,337570,1,41,543897,7059982,True
84,4777379197,2194,10979,4025321697,331344,1,40,6214973,7034741,False
85,4771622968,1853,10979,4021565292,330876,1,40,6363102,36,True
86,4778768459,1857,10979,4026261452,331520,1,40,7098928,7119284,True
87,4776808396,2547,10979,4025014160,331320,1,40,111474,5059375,False
88,4840658699,2212,10979,4067884187,337821,1,41,7137328,6214973,True
89,4773039226,1977,10979,4022570003,331029,1,40,4,7099096,False
90,4772714613,2331,10979,4022329885,330996,1,40,3,6288801,True
91,4773314530,2330,10979,4022767093,331042,1,40,4,7059982,False
92,4780985992,1378,10979,4027735053,331736,1,41,7137328,5055770,False
93,4771627032,1914,10979,4021574803,330874,0,40,7099096,2626685,True
94,4775936949,1464,10979,4024474424,331272,1,40,543897,3785359,False
95,4775260951,1917,10979,4024044747,331214,1,40,7079109,6288801,True
96,4773434566,1999,10979,4022845283,331042,1,40,7059982,4,True
97,4770795907,1920,10979,4021030783,330828,1,40,4,7059982,False
98,4771087567,2169,10979,4021262960,330851,1,40,5528463,46,True
99,4777452780,1813,10979,4025354673,331351,1,40,111474,3214090,False
100,4773624298,1654,10979,4022966442,331054,1,40,7059982,2626685,True
101,4837494648,1701,10979,4065679443,337520,1,41,543897,6214973,True
102,4843389725,2312,10979,4069834112,338129,2,41,6214973,7059982,False
103,4835239574,1537,10979,4064051193,337299,1,41,7137328,7118032,False
104,4832947918,1394,10979,4062444076,337088,1,41,4,7137328,False
105,4774978362,1716,10979,4023840345,331131,1,40,7118032,36,True
106,4771820336,1607,10979,4021680722,330876,1,40,36,6363102,False
107,4778393963,1274,10979,4025986810,331478,1,40,7119077,7137328,True
108,4833967708,1927,10979,4063175586,337161,1,41,4,111474,False
109,4772597809,1722,10979,4022236800,330985,1,40,7119039,3,True
110,4779722555,1794,10979,4026882701,331595,1,40,111474,6214973,True
111,4772765874,1624,10979,4022363197,330996,1,40,6288801,3,True
112,4844547955,1926,10979,4070655255,338176,2,41,111474,6214973,True
113,4776336147,1795,10979,4024719074,331289,1,40,3785359,7098928,True
114,4778235308,2021,10979,4025888698,331442,1,40,7119077,5327206,True
115,4779145463,2262,10979,4026525366,331542,1,40,543897,7119284,False
116,4770458746,1885,10979,4020802041,330795,1,40,1375614,7059982,True
117,4772339106,3147,10979,4022081771,330944,1,40,6979938,6363102,True
118,4837806996,1840,10979,4065895814,337539,1,41,7059982,3,False
119,4774610104,1893,10979,4023611617,331091,1,40,6363102,7118032,True
120,4771048862,1739,10979,4021221005,330831,1,40,2626685,7099096,True
121,4779285288,1838,10979,4026602908,331560,1,40,111474,7019882,False
122,4840482825,2079,10979,4067771457,337821,1,41,7137328,6214973,True
123,4772668339,1003,10979,4022278566,330985,1,40,3,7119039,False
124,4776115292,1220,10979,4024575082,331289,1,40,7098928,3785359,True
125,4771216787,1651,10979,4021310428,330796,1,40,6209166,2626685,True
126,4778856049,1896,10979,4026323403,331520,1,40,7098928,7119284,True
127,4777143481,1409,10979,4025197026,331344,1,40,6214973,7034741,False
128,4773205850,1860,10979,4022679068,331027,1,40,7059982,2626685,False
129,4777913600,2187,10979,4025676850,331380,1,40,5059375,3214090,False
130,4838160846,1484,10979,4066141367,337570,1,41,543897,7059982,True
131,4775840182,1556,10979,4024417634,331272,1,40,543897,3785359,False
132,4776107839,1419,10979,4024572349,331287,1,40,543897,7119284,False
133,4773419928,1980,10979,4022831521,331040,1,40,7099096,2626685,True
134,4773026386,1367,10979,4022557881,331027,1,40,7059982,2626685,True
135,4775835371,1203,10979,4024409751,331274,1,40,7119284,7098928,False
136,4772243353,1326,10979,4021968218,330905,1,40,6363102,6979938,True
137,4776227275,1543,10979,4024642400,331287,1,40,543897,7119284,False
138,4780304563,1512,10979,4027221904,331641,1,40,111474,5059375,False
139,4774292698,1161,10979,4023390921,331090,1,40,46,36,True
140,4832849461,1417,10979,4062371968,337088,1,41,4,7137328,False
141,4838845023,1690,10979,4066581167,337601,1,41,7137328,4,False
142,4771141326,1459,10979,4021245778,330852,1,40,6979938,36,True
143,4778424604,1251,10979,4026011577,331475,1,40,5327206,5055770,True
144,4773123293,1973,10979,4022629197,331029,1,40,7099096,4,True
145,4773529306,1328,10979,4022891764,331040,1,40,2626685,7099096,False
146,4770544546,1637,10979,4020870123,330806,1,40,1375614,4,True
147,4770635174,1549,10979,4020925926,330806,1,40,1375614,4,True
148,4772531430,1383,10979,4022182488,330980,1,40,7079109,6288801,True
149,4779994112,1294,10979,4027008046,331596,1,40,5059375,7019882,False
150,4770603747,2043,10979,4020918419,330809,1,40,6209166,7099096,False
151,4771918313,1009,10979,4021724834,330878,1,40,5528463,7118032,True
152,4772718687,806,10979,4022316765,330998,1,40,7079109,7119039,False

In [182]:
picks.head()

,1is_pick,1team,1hero_id,2is_pick,2team,2hero_id,3is_pick,3team,3hero_id,4is_pick,4team,4hero_id,5is_pick,5team,5hero_id,6is_pick,6team,6hero_id,7is_pick,7team,7hero_id,8is_pick,8team,8hero_id,9is_pick,9team,9hero_id,10is_pick,10team,10hero_id,11is_pick,11team,11hero_id,12is_pick,12team,12hero_id,13is_pick,13team,13hero_id,14is_pick,14team,14hero_id,15is_pick,15team,15hero_id,16is_pick,16team,16hero_id,17is_pick,17team,17hero_id,18is_pick,18team,18hero_id,19is_pick,19team,19hero_id,20is_pick,20team,20hero_id,21is_pick,21team,21hero_id,22is_pick,22team,22hero_id
match_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
4770332364,True,True,33,True,True,55,True,True,94,True,True,102,True,True,53,True,True,88,True,True,69,True,True,6,True,True,3,True,True,87,True,True,36,True,True,77,True,True,65,True,True,18,True,True,16,True,True,52,True,True,25,True,True,46,True,True,29,True,True,50,True,True,7,True,True,17
4770343012,True,True,53,True,True,88,True,True,16,True,True,111,True,True,69,True,True,55,True,True,102,True,True,6,True,True,100,True,True,65,True,True,29,True,True,89,True,True,13,True,True,46,True,True,86,True,True,7,True,True,57,True,True,10,True,True,39,True,True,76,True,True,106,True,True,36
4770458746,True,True,6,True,True,55,True,True,53,True,True,88,True,True,52,True,True,102,True,True,69,True,True,111,True,True,95,True,True,15,True,True,65,True,True,18,True,True,33,True,True,112,True,True,16,True,True,86,True,True,25,True,True,87,True,True,94,True,True,49,True,True,39,True,True,10
4770490885,True,True,6,True,True,88,True,True,53,True,True,102,True,True,15,True,True,111,True,True,55,True,True,69,True,True,16,True,True,107,True,True,18,True,True,54,True,True,8,True,True,89,True,True,87,True,True,95,True,True,42,True,True,64,True,True,46,True,True,35,True,True,94,True,True,65
4770544546,True,True,94,True,True,88,True,True,69,True,True,55,True,True,53,True,True,25,True,True,102,True,True,111,True,True,19,True,True,95,True,True,76,True,True,27,True,True,15,True,True,45,True,True,52,True,True,16,True,True,17,True,True,39,True,True,29,True,True,6,True,True,60,True,True,89

In [183]:
matchhistory.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   match_id         153 non-null    int64
 1   duration         153 non-null    int64
 2   leagueid         153 non-null    int64
 3   match_seq_num    153 non-null    int64
 4   series_id        153 non-null    int64
 5   series_type      153 non-null    int64
 6   patch            153 non-null    int64
 7   dire_team_id     153 non-null    int64
 8   radiant_team_id  153 non-null    int64
 9   radiant_win      153 non-null    bool
dtypes: bool(1), int64(9)
memory usage: 11.0 KB

In [184]:
picks.info()

<class 'pandas.core.frame.DataFrame'>
Index: 151 entries, 4770332364 to 4844547955
Data columns (total 66 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   1is_pick   151 non-null    bool
 1   1team      151 non-null    bool
 2   1hero_id   151 non-null    int64
 3   2is_pick   151 non-null    bool
 4   2team      151 non-null    bool
 5   2hero_id   151 non-null    int64
 6   3is_pick   151 non-null    bool
 7   3team      151 non-null    bool
 8   3hero_id   151 non-null    int64
 9   4is_pick   151 non-null    bool
 10  4team      151 non-null    bool
 11  4hero_id   151 non-null    int64
 12  5is_pick   151 non-null    bool
 13  5team      151 non-null    bool
 14  5hero_id   151 non-null    int64
 15  6is_pick   151 non-null    bool
 16  6team      151 non-null    bool
 17  6hero_id   151 non-null    int64
 18  7is_pick   151 non-null    bool
 19  7team      151 non-null    bool
 20  7hero_id   151 non-null    int64
 21  8is_pick   151 non-null    bool
 22  8team      151 non-null    bool
 23  8hero_id   151 non-null    int64
 24  9is_pick   151 non-null    bool
 25  9team      151 non-null    bool
 26  9hero_id   151 non-null    int64
 27  10is_pick  151 non-null    bool
 28  10team     151 non-null    bool
 29  10hero_id  151 non-null    int64
 30  11is_pick  151 non-null    bool
 31  11team     151 non-null    bool
 32  11hero_id  151 non-null    int64
 33  12is_pick  151 non-null    bool
 34  12team     151 non-null    bool
 35  12hero_id  151 non-null    int64
 36  13is_pick  151 non-null    bool
 37  13team     151 non-null    bool
 38  13hero_id  151 non-null    int64
 39  14is_pick  151 non-null    bool
 40  14team     151 non-null    bool
 41  14hero_id  151 non-null    int64
 42  15is_pick  151 non-null    bool
 43  15team     151 non-null    bool
 44  15hero_id  151 non-null    int64
 45  16is_pick  151 non-null    bool
 46  16team     151 non-null    bool
 47  16hero_id  151 non-null    int64
 48  17is_pick  151 non-null    bool
 49  17team     151 non-null    bool
 50  17hero_id  151 non-null    int64
 51  18is_pick  151 non-null    bool
 52  18team     151 non-null    bool
 53  18hero_id  151 non-null    int64
 54  19is_pick  151 non-null    bool
 55  19team     151 non-null    bool
 56  19hero_id  151 non-null    int64
 57  20is_pick  151 non-null    bool
 58  20team     151 non-null    bool
 59  20hero_id  151 non-null    int64
 60  21is_pick  151 non-null    bool
 61  21team     151 non-null    bool
 62  21hero_id  151 non-null    int64
 63  22is_pick  151 non-null    bool
 64  22team     151 non-null    bool
 65  22hero_id  151 non-null    int64
dtypes: bool(44), int64(22)
memory usage: 38.6+ KB

In [185]:
# picks dictionary
picks_dict = {'1is_pick': bool, '1team': bool, '1hero_id': int,
               '2is_pick': bool, '2team': bool, '2hero_id': int, 
               '3is_pick': bool, '3team': bool, '3hero_id': int, 
               '4is_pick': bool, '4team': bool, '4hero_id': int, 
               '5is_pick': bool, '5team': bool, '5hero_id': int, 
               '6is_pick': bool, '6team': bool, '6hero_id': int, 
               '7is_pick': bool, '7team': bool, '7hero_id': int, 
               '8is_pick': bool, '8team': bool, '8hero_id': int, 
               '9is_pick': bool, '9team': bool, '9hero_id': int, 
               '10is_pick': bool, '10team':bool, '10hero_id': int, 
               '11is_pick': bool, '11team':bool, '11hero_id': int, 
               '12is_pick': bool, '12team':bool, '12hero_id': int,
               '13is_pick': bool, '13team':bool, '13hero_id': int, 
               '14is_pick': bool, '14team':bool, '14hero_id': int, 
               '15is_pick': bool, '15team':bool, '15hero_id': int, 
               '16is_pick': bool, '16team':bool, '16hero_id': int, 
               '17is_pick': bool, '17team':bool, '17hero_id': int,
               '18is_pick': bool, '18team':bool, '18hero_id': int, 
               '19is_pick': bool, '19team':bool, '19hero_id': int,
               '20is_pick': bool, '20team':bool, '20hero_id': int,
               '21is_pick': bool, '21team':bool, '21hero_id': int, 
                '22is_pick': bool, '22team':bool, '22hero_id': int}

picks = picks.astype(picks_dict)

In [143]:
picks.to_csv('data/starladder_picks_cleaned.csv')
matchhistory.to_csv('data/starladder_matches_cleaned.csv')

In [144]:
picks2.dtypes

match_id     int64
1is_pick      bool
1team         bool
1hero_id     int64
2is_pick      bool
2team         bool
2hero_id     int64
3is_pick      bool
3team         bool
3hero_id     int64
4is_pick      bool
4team         bool
4hero_id     int64
5is_pick      bool
5team         bool
5hero_id     int64
6is_pick      bool
6team         bool
6hero_id     int64
7is_pick      bool
7team         bool
7hero_id     int64
8is_pick      bool
8team         bool
8hero_id     int64
9is_pick      bool
9team         bool
9hero_id     int64
10is_pick     bool
10team        bool
10hero_id    int64
11is_pick     bool
11team        bool
11hero_id    int64
12is_pick     bool
12team        bool
12hero_id    int64
13is_pick     bool
13team        bool
13hero_id    int64
14is_pick     bool
14team        bool
14hero_id    int64
15is_pick     bool
15team        bool
15hero_id    int64
16is_pick     bool
16team        bool
16hero_id    int64
17is_pick     bool
17team        bool
17hero_id    int64
18is_pick     bool
18team        bool
18hero_id    int64
19is_pick     bool
19team        bool
19hero_id    int64
20is_pick     bool
20team        bool
20hero_id    int64
21is_pick     bool
21team        bool
21hero_id    int64
22is_pick     bool
22team        bool
22hero_id    int64
dtype: object